body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: century gothic;
    color: black;
}
.lua{
  display: none;
}
.sol{
  display: flex;
  position: absolute;
  top: 0.5rem;
  margin-left: 80%;
}
.container{
    position: relative;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  31px 31px 62px #bebebe, -31px -31px 62px #ffffff;
    top: 10%;
    width: 60%;
    background-color: #e0e0e0;
    padding: 4%;
    margin: 1%;
    border-radius: 10px;
}
h1 {
    text-align: center;
    padding-top: 1rem;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow:  18px 18px 36px #d5d5d5,-18px -18px 36px #ffffff;
    background-color: #FAFAFA;
    border-radius: 10px;
    height: 5rem;
    margin-bottom: 2%;
    color: black
}
#txtCod_Bebida, #txtQuant, #txtCompra, #txtVenda, 
#txtNomeBebida, #txtTBebidas, #txtVendaBebida, #txtQuantidade{
  background-color: #fafafa;
box-shadow:  5px 5px 18px #bebebe,-5px -5px 18px #ffffff;
}

.switch {
  position: absolute;
  display: flex;
  width: 60px;
  height: 34px;
  top: 5%;
  margin-left: 80%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.cor2
{
    background-color: #353535;
}
.cor2 > .container
{
    background-color: #808080;
    color: #FAFAFA;
    background: linear-gradient(145deg, #808080, #808080);
    box-shadow:  31px 31px 62px #333333,
                -31px -31px 62px #5f5f5f;
}
.cor2 h1{
    background-color: #dddddd;
    background: linear-gradient(145deg, #e1e1e1, #bdbdbd);
    box-shadow:  31px 31px 62px #818181,
             -31px -31px 62px #a3a3a3;
}
.cor2 > .sol{
  display: none;
}
.cor2 > .lua{
  display: flex;
  position: absolute;
  height: 31px;
  width: 31px;
  top: 0.5rem;
  margin-left: 80%;
}
.cor2 #txtCod_Bebida{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtQuant{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtCompra{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtVenda{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtNomeBebida{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtTBebidas{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtVendaBebida{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}
.cor2 #txtQuantidade{
  background-color: #d6d6d6;
box-shadow:  5px 5px 18px #8f8f8f,
             -5px -5px 18px #aaaaaa;
}



